.analysis-page {
  display: flex;
  height: 100vh;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.sidebar {
  width: 15%; /* 사이드바의 너비를 15%로 설정 */
  background-color: #1c1c1c; /* 배경색을 어두운 회색으로 설정 */
  padding: 20px; /* 사이드바 내부의 모든 요소에 20px의 여백을 줌 */
  display: flex; /* 플렉스 박스로 설정 */
  flex-direction: column; /* 요소들을 세로로 정렬 */
  align-items: center; /* 요소들을 중앙에 정렬 */
  justify-content: space-between; /* 요소들 간의 공간을 균등하게 배분 */
}

.logo {
  margin-top: 30px;
  width: 110px;
  height: 120px;
  margin-bottom: -80px; /* 로고 아래 여백 조정 */
}

.sidebar h2 {
  font-size: 1.8em;  /* 글씨 더 크게 */
  color: white;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.sidebar h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px; /* 하얀색 선 추가 */
  background-color: white;
  margin: 10px auto 0 auto;
}

.record-list {
  list-style-type: none;
  padding: 0;
  font-size: 1em;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.menu-item {
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬 */
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; /* 아이템 사이 간격 조정 */
}

.recordDBIcon,
.cctvIcon {
  width: 80px;  /* 아이콘 크기 조정 */
  height: 80px;
  margin-bottom: 10px;
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.bike-icon {
  margin-top: 20px;  /* 위치 조정 */
  width: 160px;  /* 크기 조정 */
  height: 140px;
}

.text_1, 
.record_text, 
.cctv_text {
  font-size: 1.4em;  /* 글씨 크기 더 크게 */
  margin-top: 10px;  /* 텍스트 위치 조정 */
  color: white;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
}

.video-analysis {
  flex: 2;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.video-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.video-header span {
  font-size: 1.2em;
  flex: 1;
  text-align: center;
  position: relative;
}

.video-header span::after {
  content: '';
  display: block;
  width: 80%; /* 선의 길이를 조금 줄임 */
  height: 1px;
  background-color: #fff; /* 선의 색상을 흰색으로 변경 */
  position: absolute;
  bottom: -5px; /* Adjust as needed */
  left: 10%; /* 가운데 정렬을 유지하기 위해 left를 10%로 설정 */
}

.upload-button {
  background-color: #222;
  border: 1px solid #555;
  color: white;
  padding: 5px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #333;
}

.video-container,
.video-container-video-page {
  position: relative;
  background-color: black;
  padding-top: 56.25%; /* 16:9 비율 */
  border-radius: 10px;
  margin-bottom: 20px;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
}

.video-thumbnail {
  flex: 1;
  margin-bottom: 20px;
}

.thumbnail {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
